<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.wit.archaeologicalfieldwork">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".main.MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LoginPage"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".views.splashscreen.SplashScreenView"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.login.LoginView"
            android:theme="@style/LoginPage"></activity>
        <activity
            android:name=".views.hillfort.HillfortView"
            android:theme="@style/LoginPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.hillfortlist.HillfortListView"
                />
        </activity>
        <activity
            android:name=".views.forgotpassword.ForgotPasswordView"
            android:theme="@style/LoginPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.login.LoginView"
                />
        </activity>
        <activity
            android:name=".views.signup.SignUpView"
            android:theme="@style/LoginPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.login.LoginView"
                />
        </activity>
        <activity android:name=".views.hillfortlist.HillfortListView"
            android:theme="@style/LoginPage">
        </activity>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".views.editlocation.EditLocationView"
            android:label="@string/title_activity_map">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.hillfort.HillfortView" />
        </activity>

        <activity
            android:name=".views.settings.SettingsView"
            android:theme="@style/LoginPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.hillfortlist.HillfortListView"
                />
        </activity>

        <activity android:name=".views.map.HillfortMapView"
            android:label="@string/title_activity_hillfort_maps">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.hillfortlist.HillfortListView"
                />
        </activity>
    </application>

</manifest>